#cook-ook, #cook-ed {
	color: #DC3545;
}
#cook-dot {
	color: #006400;
}
.form-control:focus {
  border-color: #198754;
  box-shadow: inset 0 1px 1px rgba(46, 204, 113, 0.4), 0 0 8px rgbargba(46, 204, 113, 0.4);
}
.jumbotron {
  background-image: url("../images/jumbo-cover-bg.jpg");
  background-size: cover;
}
.lead {
	font-size: 2rem;
	font-weight: normal;
}
