* {
    box-sizing: border-box;
    /*font-family: 'Gowun Batang', serif;*/
    
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper h2 {
    padding: 0;
    margin: 0;
    color: #0D6EFD;
    font-size: 50px;
}

h1 {
    font-size: 65px;
}

h1, h2, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: black;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    color: #FF8A00;
}

.wrapper span {
    color: #FF8A00;
}
span:before {
    content:  '';
    animation: animate infinite 8s;
}
@keyframes animate {
    0%{
        content: 'Hello,';
    }
    20%{
        content: 'Cómo Estás,';
    }
    40%{
        content: 'Kumusta,';
    }
    60%{
        content: 'आप कैसे हैं';
    }
    80%{
        content: '元気ですか';
    }
    100%{
        content: 'hvernig hefurðu það';
    }
}

#curious {
    width: 70px;
    height: 70px;
    margin: 50px auto;
    position: fixed;
    left: 1%;
    animation-name: fade;
    animation-duration: 3s;
  }

  @keyframes fade {
    50% {
      left: 50%;

    }
  }