* {
    /*font-family: 'Gowun Batang', serif;*/
    
    font-family: 'Spartan', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
}

.footer {
	flex-shrink: 0;
}

.card-img-top {
    width: 50%;
    height: 25vh;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}