* {
    /*font-family: 'Gowun Batang', serif;*/
    
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: black;
}